*{/*seletor universal*/
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(185, 26, 26);
    
}



.logo img{
    margin-left: 45px;
    height: 150px;
    width: auto;
    margin-top: -18px;
}

nav{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.nav ul{
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

.menu li a{
    display: flex;
    text-decoration: none;
    padding-left: 40px;
    font-size: 18px;
    color: rgb(185, 26, 26);
    font-weight: bold;
    text-shadow: gray 0.5px 0.5px;
  }

.menu li a:hover{
    transform: scale(1.1);
}

.btn-menu{
    background-color: rgb(185, 26, 26);
    color: white;
    border-radius: 8px;
    align-items: center;
    padding: 10px 6px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    width: 140px;
    height:15px;
    justify-content: center;
    margin-top: 2%;
    float:left;
    text-align: center;
}

.btn-menu:hover{
    background-color: #fffffff1;
    color: rgb(185, 26, 26);
    transform: scale(1.1);
}

.main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

section.site{
  height: 100vh;
  flex-grow: 1;
}

.texto{
  display: flex;
  flex-direction: column;
  color: rgb(144, 24, 24);
  text-align: center;
  margin-top: 40px;
}

.texto h3{
  margin-top: 30px;
}

.container{
  margin-top: 75px;
  background-color: #fafafa;
  border-radius: 10px;
  width: 450px;
  max-width: 100vw;
  min-width: 450px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.form{
  padding: 20px;
}

.titulo{
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(144, 24, 24);
}

.controle_form{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.controle_form label{
  margin-bottom: 5px;
  display: inline-block;
}

.controle_form text{
  align-items: center;
  display: flex;
  border-radius: 10px;
}

.controle_form input{
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form button{
  background-color: rgb(144, 24, 24);
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  margin-top: 15px;
  border: 1px solid rgb(144, 24, 24);
  padding: 10px;
  cursor: pointer;
}

.form button:hover{
  background-color: rgb(212, 1, 1);
  color:white;
  transform: scale(1.1);
}

section.rodape{
    display: flex;
    margin-top: 50px;
    background-color: rgb(185, 26, 26);
    height: 40px;
    align-items: center;
    flex-grow: 1;
}

.rodape p{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-top:10px;
    margin-bottom:10px;
    text-align:  center;
    position: absolute;
    width: 100vw;
}